language: php

php:
  - 5.5.9
  - 5.5
  - 5.6
  - 7.1

env:
  global:
    - setup=basic

matrix:
  include:
    - php: 5.5.9

sudo: false

install:
  - if [[ $setup = 'basic' ]]; then travis_retry composer install --no-interaction --prefer-source; fi
  - if [[ $setup = 'stable' ]]; then travis_retry composer update --prefer-source --no-interaction --prefer-stable; fi
  - if [[ $setup = 'lowest' ]]; then travis_retry composer update --prefer-source --no-interaction --prefer-lowest --prefer-stable; fi

script:
  - ./vendor/bin/kahlan -reporter=verbose
  - ./vendor/friendsofphp/php-cs-fixer/php-cs-fixer fix src/
