version: 2.1

jobs:
  build_php_version:
    docker: 
      - image: cimg/php:8.1.9
    working_directory: ~/ReadOnlyTraitLaravel
    steps: # a set of executable commands
      - checkout
      - run: sudo composer self-update
      - run: composer install -n --prefer-dist --no-plugins
      - run: ./vendor/bin/kahlan -reporter=verbose
  build_latest:
    docker: 
      - image: circleci/php:latest
    working_directory: ~/ReadOnlyTraitLaravel
    steps: # a set of executable commands
      - checkout
      - run: sudo composer self-update
      - run: composer install -n --prefer-dist --no-plugins
      - run: ./vendor/bin/kahlan -reporter=verbose
workflows:
  version: 2
  build:
    jobs:
      - build_php_version
      - build_latest
